In [1]:
import pandas as pd
import os

In [2]:
df_description = pd.read_parquet('data/results/df_description_data.parquet')
df_description

                     instances  n_features  class_prop
a9a                      32561         123       0.241
analcatdata_lawsuit        264           4       0.072
appendicitis               106           7       0.198
australian                 690          14       0.445
backache                   180          31       0.139
...                        ...         ...         ...
yeast1                    1484           8       0.289
yeast3                    1484           8       0.110
yeast4                    1484           8       0.034
yeast5                    1484           8       0.030
yeast6                    1484           8       0.024

[65 rows x 3 columns]

In [3]:
# sort the dataset by the column class_prop
df_description.sort_values(by='class_prop', ascending=False)

              instances  n_features  class_prop
bupa                345           5       0.490
mammographic        830           4       0.486
splice             1000          60       0.483
mushroom           8124          22       0.482
kr_vs_kp           3196          36       0.478
...                 ...         ...         ...
w1a                2477         300       0.029
w3a                4912         300       0.029
w4a                7366         300       0.029
w5a                9888         300       0.028
yeast6             1484           8       0.024

[65 rows x 3 columns]

In [13]:
df_description.describe().round(2).drop('count')

      instances  n_features  class_prop
mean    4026.14       81.18        0.23
std    10656.88      259.97        0.16
min       62.00        2.00        0.02
25%      270.00        7.00        0.07
50%      748.00       10.00        0.24
75%     1484.00       30.00        0.36
max    59535.00     2000.00        0.49