In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
df_score_differences = pd.read_parquet('data/results/score_differences_data.parquet')
df_performance_results = pd.read_parquet('data/results/performance_data.parquet')
df_description = pd.read_parquet('data/results/performance_data.parquet')

In [12]:
mask = (df_score_differences['minority_class_complexity'] != df_score_differences['most_complex_class']) & (df_score_differences['k'] == 1)
display(df_score_differences[mask])

,dataset,metric_x,score,score_sd,k,metric_y,minority_class_complexity,most_complex_class,diff_score_minority_class_complexity,diff_score_most_complex_class
88,banknote,accuracy_score,1.000000,0.000000e+00,1,kdn,0.000000,0.003937,0.000000e+00,0.003937
89,banknote,accuracy_score,1.000000,0.000000e+00,1,ddn,0.000000,0.003937,0.000000e+00,0.003937
550,splice,accuracy_score,0.966000,1.280625e-02,1,kdn,0.124224,0.471954,9.022360e-02,0.437954
551,splice,accuracy_score,0.966000,1.280625e-02,1,ddn,0.125259,0.470986,9.125880e-02,0.436986
1462,banknote,f1_score,1.000000,0.000000e+00,1,kdn,0.000000,0.003937,0.000000e+00,0.003937
1463,banknote,f1_score,1.000000,0.000000e+00,1,ddn,0.000000,0.003937,0.000000e+00,0.003937
1924,splice,f1_score,0.965165,1.330887e-02,1,kdn,0.124224,0.471954,8.938816e-02,0.437118
1925,splice,f1_score,0.965165,1.330887e-02,1,ddn,0.125259,0.470986,9.042336e-02,0.436151
2836,banknote,gps_score,1.000000,1.087792e-15,1,kdn,0.000000,0.003937,-2.573786e-11,0.003937
2837,banknote,gps_score,1.000000,1.087792e-15,1,ddn,0.000000,0.003937,-2.573786e-11,0.003937
3298,splice,gps_score,0.965974,1.282475e-02,1,kdn,0.124224,0.471954,9.019786e-02,0.437928
3299,splice,gps_score,0.965974,1.282475e-02,1,ddn,0.125259,0.470986,9.123306e-02,0.436961
4210,banknote,scaled_mcc_score,1.000000,0.000000e+00,1,kdn,0.000000,0.003937,0.000000e+00,0.003937
4211,banknote,scaled_mcc_score,1.000000,0.000000e+00,1,ddn,0.000000,0.003937,0.000000e+00,0.003937
4672,splice,scaled_mcc_score,0.966169,1.284205e-02,1,kdn,0.124224,0.471954,9.039252e-02,0.438123
4673,splice,scaled_mcc_score,0.966169,1.284205e-02,1,ddn,0.125259,0.470986,9.142772e-02,0.437155

In [14]:
suspicious_dfs = df_score_differences[mask].dataset.unique()
suspicious_dfs

array(['banknote', 'splice'], dtype=object)

array(['banknote', 'bupa', 'fourclass', 'housevotes84', 'mammographic',
       'r2', 'splice'], dtype=object)